<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style="padding-top: 13%; padding-bottom: 15%">
                <!-- <div class="intro-heading" style="color: #27869b">Dev Ops Day 2018<br> -->
                <div class="intro-lead-in">
                 <img src="../css/2017_style/img/logo-small-transparent.png" alt="devOpsDay"
                 height="50%" width="50%"></img>
                </div>

                <!-- <div class="homePageImage">

                </div> -->
                <div class="intro-lead-in" style="color: #e84e4f">August 24th</div>
                <div class="intro-lead-in" style="color: #2596af">I/S Training Center - Atrium</div>
                <a href="#about" class="page-scroll btn btn-xl" style="color: #d5effc">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/about.html %}
    {% include 2017_data/speakers.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
